/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
   
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #c03030;
    background-image:linear-gradient(to bottom, #cc7171c6, #e3a074f2);
  }
  
  header {
    
    color: rgb(197, 138, 138);
    padding: 10px;
    color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0f0c0c;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #b14343;
    font-weight: bolder;
  }
  
  footer {
    background-color: #eceaecea;
    color: #fff;
    padding: 10px;
    text-align:center;
  }

  